.footer {
  @include font;
  background: #434343;
  color: #AAAAAA;
  margin: 0 auto;
  margin-bottom: 100px;
  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding: 83px 0 0 0;
    & li {
      margin-bottom: 15px;
    }
  }
  & nav,
  & form {
    padding-top: 11px;
  }
  &__down {
    display: flex;
    align-items: center;
    border-top: 1px solid #666666;
    padding: 6px 0 100px 0;
    & p {
      // margin-right: 109px;
    }
    & a {
      color: #A2A2A2;
      width: 380px;
      margin-left: 110px;
    }
    & a:hover,
    & a:active {
      text-decoration-line: underline;
      color: #FFFFFF;
      transition: .4s;
    }
  }
  &__color {
    color: #fff;
    & a {
      color: #fff;
      width: 380px;
    }
    & a:hover {
      opacity: 50%;
    }
    & a:active {
      opacity: 20%;
    }
  }
}


/*RATING*/

.star {
  overflow: hidden;
  display: flex;
  // flex-direction: row-reverse;
  justify-content: flex-end;
  cursor: pointer;
  align-items: center;
  margin-right: 170px;
  padding-top: 0;
  &:hover .star__rating {
    color: #C29974;
  }
  &__rating {
    margin: 0;
    margin-right: 25px;
    &_star-one:hover path {
      fill: #C29974;
    }
    &_star-two:hover path {
      fill: #C29974;
    }
    &_star-three:hover path {
      fill: #C29974;
    }
    &_star-four:hover path {
      fill: #C29974;
    }&_star-five:hover path {
      fill: #C29974;
    }
  }
  & svg {
    margin-right: 3px;
  }
}

// .star:not(:checked) > input {
//   display: none;
// }

// .star:not(:checked) > label {
//   width: 20px;
//   padding: 0;
//   cursor: pointer;
//   color: #FFFFFF;
// }

// .star:not(:checked) > label:before {
//   content: '★';
// }

// .star > input:checked ~ label,
// .star > input:checked ~ span {
//   color: #C29974;
// }

// .star:not(:checked) > label:hover,
// .star:not(:checked) > label:hover ~ label,
// .star:not(:checked) > label:hover,
// .star:not(:checked) > label:hover ~ span {
//   color: #C29974;
// }

// .star > input:checked + label:hover,
// .star > input:checked + label:hover ~ label,
// .star > input:checked ~ label:hover,
// .star > input:checked ~ label:hover ~ label,
// .star > label:hover ~ input:checked ~ label {
//   color: #C29974;
// }

// .star > label:active {
//   position: relative;
// }

// .star:focus-within p {
//   color: #C29974;
// }



/*LINE*/

.line p {
  border-bottom: 1px solid #666666;
  width: 380px;
  padding-bottom: 22px;
}


/*EMAIL*/

.email__wrapper {
  display: flex;
}

.email {
  @include font;
  background-color: #666666;
  width: 300px;
  height: 40px;
  border: 1px solid #666666;
  color: #EBEBEB;
  padding: 9px 0px 9px 15px;
}

.email:hover,
.email:active {
  border: 1px solid #FFFDFD;
  transition: .4s;
}

.email:focus {
  border-color: #FFFDFD;
}

.email::-webkit-input-placeholder { 
  color: #EBEBEB; 
}


/*NETWORKS FOOTER*/

.networks {
  display: flex;
  & li {
    margin-top: 23px;
    margin-right: 10px;
  }
  & a:hover {
    opacity: 50%;
    transition: .4s;
  }
  & a:active {
    opacity: 20%;
  }
}