.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  .header a:hover,
  .search:hover {
    opacity: 50%;
  }
  
  .header a:active,
  .search:active {
    opacity: 10%;
  }
  
  .header-menu {
    margin: 0 auto 0 60px;
  }
  
  .header-list {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
  }
  
  .header-menu a {
    color: #1E0606;
    margin-right: 20px;
  }
  
  .search {
    margin-right: 16px;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  
  
  .header-contact {
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;  
    color: #1E0606;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.8px;
  }
  