.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
    &__menu {
      margin: 0 auto 0 60px;
    }
    &__list {
      @include font(400,14px,19px);
      display: flex;
      text-transform: uppercase;
    }
    &__menu a {
      color: #1E0606;
      margin-right: 20px;
    }
    &__contact {
      @include font(700,14px,19px);
      font-family: 'Open Sans';
      text-transform: uppercase;  
      color: #1E0606;
      letter-spacing: 0.8px;
    }
    a:hover,
    &__search:hover {
      opacity: 50%;
      transition: .4s;
    }
    a:active,
    &__search:active {
      opacity: 10%;
    }
    &__search {
      margin-right: 16px;
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: .4s;
    }
  }