/*PAGE*/

.page__switching {
    display: flex;
    margin-bottom: 48px;
    justify-content: space-between;

    @media screen and (max-width: 581px) {
      padding: 0 20px;
    }

    &__left,
    &__right {
      width: 37px;
      height: 37px;
      cursor: pointer;
      background-repeat: no-repeat;
      border: 0;
      background-position: center;
      background-color: transparent;
      transition: .4s;
    }
  }

  .arrow_pagination {
    cursor: pointer;
    &:hover polyline {
      stroke: rgba(194, 153, 116, 1);
    }
    &:active polyline {
      opacity: .7;
    }
  }

  
  /*PAGINATION*/
  
  .pagination a {
    @include font(700,16px,20px);
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin: 32px;
    text-decoration: none;
    color: #1E0606;
    transition: .4s;
  }
  
  .pagination a.pagination__active {
    color: #C29974;
  }
  
  .pagination a:hover:not(.pagination__active) {
    color: #AAAAAA;
  }   