@mixin font ($font-weight: 400, $font-size: 16px, $line-height: 22px) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

%psevdo {
  content: '';
  display: block;
  position: absolute;
}
