@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/category";
@import "_blocks/pagination";


/*BANNER*/

.banner {
  background-color: #EEE4DB;
  margin-top: 130px;
  &__title {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 40px;
   line-height: 110%;
   color: #1E0606;
   margin-bottom: 17px;
   padding: 65px 0 0;
   width: 80%;
   position: relative;
   }
   &__title::after {
      @extend %psevdo;
      width: 635px;
      height: 461px;
      background-image: url('../img/krocozybra.png');
      top: -117px;
      left: 312px;
   }
   &__list{
      display: flex;
   }
   &__item {
      margin: 0;
      & a {
         margin-bottom: 88px;
      }
   }
   &__text {
      @include font(700,12px,16px);
      display: flex;
      background-color: #C29974;
      margin-top: 0;
      margin-bottom: 91px;
      justify-content: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 11px;
      letter-spacing: 0.3px;
   }
   &__title_designed {
      @include font(400,20px,26px);
      font-family: 'Crimson Text';
      font-style: italic;
      margin: 0 auto 20px 0px;
   }
}

.page {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   padding: 17px 0px 0px 30px;
   margin-right: 43px;
   &__link,
   &__link_checked {
      font-size: 5px;
      display: block;
      border: none;
      cursor: pointer;
      margin-bottom: 11px;
      width: 31px;
      height: 3px;
   }
   &__link {
      background-color: #D6CAC2;
   }
   &__link:hover {
      background: #725F5B;
      transition: .4s;
   }
   &__link_checked {
      background: #725F5B;
   }
   &__list {
      @include font(200,60px,73px);
      font-family: 'Montserrat';
      color: rgba(30, 6, 6, 0.05);
      margin: 0 auto 11px 0;
   }
}


/*ARROW*/

.arrow{
   display: flex;
   margin-bottom: 73px;
   align-items: center;
   &__wrapper_left,
   &__wrapper_right {
      width: 37px;
      height: 37px;
      cursor: pointer;
      background-repeat: no-repeat;
      margin-right: 6px;
      border: 0;
      background-position: center;
   }
   &__wrapper_left {
      background-image: url('../img/VectorL.svg'); background-color: rgba(112, 187, 220, 0.2);
   }
   &__wrapper_right {
      background-image: url('../img/VectorR.svg'); background-color: rgba(112, 187, 220, 0.2);
   }
   &__text {
      width: 90%;
      max-width: 580px;
      margin-left: 15px;
   }
}


/*DELIVERY*/

.delivery {
   display: flex;
   align-items: flex-start;
   margin-bottom: 91px;
   justify-content: space-between;
   &__title {
      @include font(700,38px,46px);
      font-family: 'Montserrat';
      text-transform: uppercase;
      margin: 43px auto 17px 0;
      position: relative;
      cursor: pointer;
   }
   &__title::after {
      @extend %psevdo;
      width: 326px;
      height: 55px;
      left: -60px;
      top: 50px;
      background: #70BBDC33;
   }
}

.delivery__img {
   text-align: left;
   margin-right: 120px;
}

.delivery__wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   max-width: 480px;
   margin-right: 100px;
   &__choice_checked {
      @include font(700,26px,34px);
      font-family: 'Crimson Text';
      font-style: italic;
      color: #1E0606;
      margin: 0;
      letter-spacing: 0.9px;
   }
   &__choice {
      @include font(400,26px,34px);
      font-family: 'Crimson Text';
      font-style: italic;
      & p {
         margin: 0;
      }
      & li {
         margin: 0 0 20px 0;
         cursor: pointer;
      }
   }
}

.delivery__text p {
   margin: 11px 10px 15px 0px;
}

.delivery__text button {
   margin-top: 11px;
}

/*brands*/

.brands {
   margin-bottom: 112px;
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}


/*ABOUT*/

.about {
   display: flex;
   align-items: flex-start;
   margin-bottom: 155px;
   &__title {
   @include font(700,38px,46px);
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   margin: -23px 0 22px;
   }
   &__list {
      background: #E1F0F7;
      width: 543px;
      padding: 0 30px 30px;
      & a {
         margin-top: 4px;
      }
   }
   &__item {
      @include font(400,26px,34px);
      font-family: 'Crimson Text';
      font-style: italic;
      margin: -12px 0px -5px 0;
   }
}

.about__list:first-child {
   margin-right: 57px;
}

.map {
   margin-bottom: -155px;
   margin-top: 16px;
   border: none;
}


/*POPUP*/

.popup {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
   display: none;
   align-items: center;
   justify-content: center;
   background: rgba(125, 151, 218, 0.8);
}

.popup__open {
   display: flex;
}

.popup__close {
   border: none;
   background: transparent;
   position: absolute;
   right: -30px;
   top: 0;
   color: #FFFFFF;
   transform: rotate(90deg);
   cursor: pointer;
}

.popup__close:hover {
   opacity: .7;
}

.popup__close:active {
   opacity: .4;
}

.contact__form__popup {
   width: 680px;
   background: $primary;
   padding: 42px 40px;
   position: relative;
}

.contact__form__popup label {
   @include font(400,14px,16px);
   font-family: 'Roboto';
   margin-bottom: 6px;
}


/*CONTACT*/

.contact {
   display: flex;
   justify-content: space-between;
   &__title {
      @include font(700,40px,49px);
      font-family: 'Montserrat';
      text-transform: uppercase;
      color: #1E0606;
      margin-bottom: 15px;
      letter-spacing: 1px;
   }
   &__form {
      width: 680px;
      background: $primary;
      padding: 42px 40px;
      margin-bottom: 60px;
      position: relative;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
}

.support {
   width: 380px;
   & p {
      margin-top: 0;
   }
   &__help {
      @include font(600,26px,34px);
      font-family: 'Montserrat';
      text-transform: uppercase;
      color: #C29974;
   }
}

 .contact__2__column .contact__wrapper {
   width: 290px;
 }
 
 .contact__2__column {
   display: flex;
   justify-content: space-between;
 }

 
.contact label {
   font-size: 14px;
   line-height: 19px;
   margin: 0;
}
 
 /* CLICKING */
 
 .clicking .button {
   margin-top: 20px;
 }
 

/*TOYS*/

.toys {
   &__title {
      @include font(700,40px,49px);
      font-family: 'Montserrat';
      text-transform: uppercase;
      color: #1E0606;
      margin-bottom: 15px;
   }
   &__banner {
      @include font;
      background: $primary;
      color: #AAAAAA;
      margin: 0 auto;
      margin-bottom: 61px;
   }
   &__form {
      display: flex;
      align-items: flex-start;
   }
}

.toys__form__box_color,
.toys__form__box_delivery,
.toys__form__box_amount,
.toys__form__box_range {
   margin: 42px 0 27px 2px;
}

.toys__form__box_color li {
   margin-bottom: 15px;
}

.toys__form__box_delivery li {
   margin-bottom: 12px;
}

.toys__form__box_range {
   margin-right: 104px;
}

.toys__form__box_color {
   margin-right: 118px;
}

.toys__form__box_delivery {
   margin-right: 67px;
}

.toys__form__box_amount {
   margin-right: 61px;
}

legend,
.toys__form__box_range {
   @include font(700);
   color: #1E0606;
   margin-bottom: 15px;
}

.toys__form__box_amount ul {
   display: flex;
}

.products {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 33px;
   & p {
      @include font(700);
      text-align: center;
      color: #1E0606;
   }
   & h2 {
      @include font(400,14px,19px);
      text-align: center;
      color: #1E0606;
      margin-top: 29px;
   }
}

.toys__form button {
   margin-top: 79px;
}

/*RANGE*/

.toys__form__box_range {
   display: flex;
   flex-direction: column;
   margin-bottom: 16px;
   width: 188px;
}

.toys__form__box_range ul {
   display: flex;
   justify-content: space-between;
   margin-top: -6px;
   margin-right: -15px;
}

.toys__form__box_range input {
   padding: 0;
}

input[type=range] {
   height: 4px;
   -webkit-appearance: none;
   margin: 10px 0;
   border: none;
   width: 100%;
}

input[type=range]:focus {
   outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 4px;
   cursor: pointer;
   box-shadow: 0px 0px 0px #FFFFFF;
   background: #808080;
   border-radius: 0px;
   border: 0px solid #C29974;;
}

input[type=range]::-webkit-slider-thumb {
   box-shadow: 0px 0px 0px #FFFFFF;
   border: 9px solid #C29974;;
   height: 24px;
   width: 24px;
   border-radius: 28px;
   background: #FFFFFF;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -10px;
}

/*popup window*/

.toys__item {
   width: 380px;
   justify-content: space-between;
   margin-bottom: 29px;
   position: relative;
}

.toys__item::after {
   content: attr(data-tooltip);
   @include font(700,26px,29px);
   position: absolute;
   width: 207px;
   height: 207px;
   left: 90px;
   top: 90px;
   border: none;
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   justify-content: center;
   pointer-events: none;
   opacity: 0;
   background-position: center;
   display: flex;
   align-items: center;
   transition: 1s;
}

.toys__item:hover::after {
   opacity: 1; 
   background:rgba(229, 234, 248, 0.9);
}

.toys__item:active::after {
   background:rgba(229, 234, 248, 0.670);
}


/*CATALOG*/

.catalog__title {
   @include font(700,40px,49px);
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   margin: 0 0 15px 0;
}

.catalog__product__title {
   @include font(700,38px,46px);
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   margin-bottom: 24px;
}

.catalog__product {
   width: 680px;
   margin: 0px -10px 55px 199px;
   & p {
      margin-bottom: 15px;
      margin-top: 0;
   }
}


/*BLOG*/

.blog__title {
   @include font(700,40px,49px);
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   position: relative;
   margin-bottom: 15px;
}

.blog {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 16px;
   justify-content: space-between;
   & li {
      width: 380px;
      margin-bottom: 13px;
   }
   &__item {
      @include font(700,24px,31px);
      font-family: 'Montserrat';
      color: #1E0606;
      margin: 0;
   }
   &__data {
      @include font;
      color: #818181;
      margin-top: 20px;
      margin-bottom: 5px;
   }
   &__text {
      @include font(400,18px,25px);
      margin-bottom: 20px;
      color: #1E0606;
   }
}

.blog a:hover .blog__item {
   text-decoration-line: underline;
}

/*ANIMATION*/


@keyframes anim__taxi {
   0% {
      margin-left: 200%;
      }
   25% {
      margin-left: 150%;
      }
   50% {
      margin-left: 90%;
      }
   75% {
      margin-left: 90%;
      }
   100% {
      margin-left: 0%;
      }
   }

@keyframes anim__cars {
   0% {
      margin-left: 0%;
   }
   100% {
      margin-left: 130%;
   }
   }

@keyframes anim__clouds {
   0% {
      margin-left: 130%;
   }
   100% {
      margin-left: 0%;
   }
}

@keyframes anim__message {

   0% {
      opacity: 1;
   }
   25% {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   75% {
      opacity: 0;
   }
   100% {
      opacity: 0;
   }
}

@keyframes anim__handwoman {
   
   0% {
      transform: rotate(0);
   }
   50% {
      transform: rotate(-36deg);
   }
   100% {
      transform: rotate(0);
   }
}

@keyframes anim__handman {
   
   0% {
      transform: rotate(146deg); 
   }
   50% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(146deg);
   }
}

@keyframes anim__fly {
   
   0% {
      margin-left: 0%;
      top: 50px;
   }
   100% {
      margin-left: 130%;
      top: -200px;
   }
}

.anim {
   height: 1000px;
   width: 1400px;
   overflow: hidden;
   position: relative;
   margin: 0 auto;
}

.box_9 {
   animation: anim__taxi 5s linear forwards;
}

.box_3, .box_4, .box_5, .box_6 {
   animation: anim__cars 12s linear infinite;
}

.box_1-1, .box_1-2, .box_1-3, .box_1-4, .box_1-5, .box_1-6 {
   animation: anim__clouds 12s linear infinite;
}

.box_16 {
   animation: anim__handwoman 2s ease forwards;
}

.box_12, .box_14, .box_10, .box_18 {
   opacity: 0;
   animation-duration: 10s;
   animation-name: anim__message;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

.box_17 {
   animation: anim__handman 2s ease forwards;
}

.box_20 {
   animation: anim__fly 7s ease forwards;
}

.anim__cars {
   position: relative;
   height: 125px;
   width: 100%;
   margin-left: -300px;
   top: 300px;
}

.anim__clouds {
   position: relative;
   height: 135px;
   width: 100%;
   margin-left: -300px;
}

.anim__taxi {
   position: relative;
   height: 98px;
   width: 100%;
   margin-left: -900px;
   bottom: -346px;
}

.anim__fly {
   position: relative;
}

.box_1-1 {
   @extend %psevdo;
   width: 91px;
   height: 26px;
   background-image: url('../img/animation/CloudsOne.png');
   top: 0;
   animation-delay: 0
}

.box_1-2 {
   @extend %psevdo;
   width: 186px;
   height: 38px;
   background-image: url('../img/animation/CloudsTwo.png');
   top: 40px;
   animation-delay: 2s
}

.box_1-3 {
   @extend %psevdo;
   width: 155px;
   height: 32px;
   background-image: url('../img/animation/CloudsThree.png');
   top: 0;
   animation-delay: 4s
}

.box_1-4 {
   @extend %psevdo;
   width: 201px;
   height: 41px;
   background-image: url('../img/animation/CloudsFour.png');
   top: 80px;
   animation-delay: 6s
}

.box_1-5 {
   @extend %psevdo;
   width: 91px;
   height: 26px;
   background-image: url('../img/animation/CloudFive.png');
   top: 40px;
   animation-delay: 8s
}

.box_1-6 {
   @extend %psevdo;
   width: 164px;
   height: 34px;
   background-image: url('../img/animation/CloudsSix.png');
   top: 60px;
   animation-delay: 10s
}

.box_1-7 {
   @extend %psevdo;
   width: 59px;
   height: 59px;
   right: 300px;
   top: 0;
   background-color: yellow;
   border-radius: 37px;
}

.box_2 {
   @extend %psevdo;
   width: 1585px;
   height: 630px;
   background-image: url('../img/animation/haus.jpg');
   left: -150px;
   top: 150px;
}

.box_3 {
   @extend %psevdo;
   width: 268px;
   height: 125px;
   background-image: url('../img/animation/Car\ four.png');
   top: -22px;
   animation-delay: 0
}

.box_4 {
   @extend %psevdo;
   width: 246px;
   height: 65px;
   background-image: url('../img/animation/Car\ three.png');
   top: 45px;
   animation-delay: 3s
}

.box_5 {
   @extend %psevdo;
   width: 203px;
   height: 95px;
   background-image: url('../img/animation/Car\ two.png');
   top: 0;
   animation-delay: 6s
}

.box_6 {
   @extend %psevdo;
   width: 250px;
   height: 99px;
   background-image: url('../img/animation/Car\ one.png');
   top: 0;
   animation-delay: 9s
}

.box_7 {
   @extend %psevdo;
   width: 150px;
   height: 395px;
   background-image: url('../img/animation/LanternsNO.png');
   left: 315px;
   top: 196px;
}

.box_8 {
   @extend %psevdo;
   width: 150px;
   height: 395px;
   background-image: url('../img/animation/LanternsNO.png');
   right: 195px;
   top: 196px;
}

.box_9 {
   @extend %psevdo;
   width: 886px;
   height: 265px;
   background-image: url('../img/animation/Taxi.png');
   bottom: 0;
   animation-delay: 5s
}

.box_10 {
   @extend %psevdo;
   width: 160px;
   height: 99px;
   background-image: url('../img/animation/TaxiMessage.png');
   right: 580px;
   top: 355px;
   animation-delay: 8s
   
}

.box_11 {
   @extend %psevdo;
   width: 98px;
   height: 267px;
   background-image: url('../img/animation/WomanBody.png');
   left: 82px;
   bottom: 223px;
}

.box_12 {
   @extend %psevdo;
   width: 160px;
   height: 99px;
   background-image: url('../img/animation/WomanMessage.png');
   left: -1px;
   bottom: 504px;
   animation-delay: 2s
}

.box_13 {
   @extend %psevdo;
   width: 205px;
   height: 352px;
   background-image: url('../img/animation/ManBody.png');
   left: 196px;
   bottom: 222px;
}

.box_14 {
   @extend %psevdo;
   width: 160px;
   height: 77px;
   background-image: url('../img/animation/ManMessage.png');
   left: 180px;
   bottom: 580px;
   animation-delay: 4s;
}

.box_15 {
   @extend %psevdo;
   width: 191px;
   height: 95px;
   background-image: url('../img/animation/WomanSuitcases.png');
   left: 75px;
   bottom: 222px;
}

.box_16 {
   @extend %psevdo;
   width: 62px;
   height: 43px;
   background-image: url('../img/animation/WomanHand.png');
   left: 112px;
   top: 607px;
   margin: 0;
   transform-origin: 0 0;
   margin: 0;
   animation-delay: 2s
}

.anim__handman {
   position: relative;
}

.box_17 {
   @extend %psevdo;
   width: 88px;
   height: 128px;
   background-image: url('../img/animation/ManHand.png');
   left: 225px;
   top: 20px;
   transform-origin: 0 100px;
   transform: rotate(146deg);
   margin: 0;
   animation-delay: 4s
}

.box_18 {
   @extend %psevdo;
   width: 160px;
   height: 77px;
   background-image: url('../img/animation/ManMessageTwo.png');
   left: 180px;
   bottom: 580px;
   display: flex;
   justify-content: center;
   padding: 17px;
   animation-delay: 10s;
   border: #1E0606
}

.box_19 {
   @extend %psevdo;
   width: 215px;
   height: 562px;
   background-image: url('../img/animation/LanternYes.png');
   right: 280px;
   bottom: 235px;
}

.box_20 {
   @extend %psevdo;
   width: 150px;
   height: 97px;
   background-image: url('../img/animation/Fly2.jpg');
   left: -150px;
   top: 0;
   animation-delay: 7s;
}
