@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/category";
@import "_blocks/pagination";


/*BANNER*/

.banner {
  background-color: #EEE4DB;
  margin-top: 130px;

  @media screen and (max-width: 800px) {
   margin: 0;
 }

  @media screen and (max-width: 580px) {
   margin: 0;
 }

  &__title {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 40px;
   line-height: 110%;
   color: #1E0606;
   margin-bottom: 17px;
   padding: 65px 0 0;

   @media screen and (max-width: 420px) {
      font-size: 36px;
      letter-spacing: -0.5px;
      width: 100%;
    }

   }
  
   &__list {
      display: flex;
   }

   &__item {
      margin: 0;
      & a {
         margin-bottom: 88px;
      }
   }

   &__text {
      @include font(700,12px,16px);
      display: flex;
      background-color: #C29974;
      margin-top: 0;
      margin-bottom: 91px;
      justify-content: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 11px;
      letter-spacing: 0.3px;

      @media screen and (max-width: 815px) {
         margin-bottom: 60px;
       }

      @media screen and (max-width: 700px) {
         margin-bottom: 80px;
         text-align: center;
       }
   }

   &__title_designed {
      @include font(400,20px,26px);
      font-family: 'Crimson Text';
      font-style: italic;
      margin: 0 auto 20px 0px;
   }

   &__img {
      width: 100%;
      height: 100%;
      margin: -90px 0;
      @media screen and (max-width: 1120px) {
         margin: 86px 0 0 -150px;
       }

      @media screen and (max-width: 769px) {
         margin: 109px 8px 0 -150px;
       }


      @media screen and (max-width: 767px) {
         margin: 130px 8px 0 -150px;
       }

       @media screen and (max-width: 740px) {
         margin: 160px 8px 0 -150px;
       }

       @media screen and (max-width: 680px) {
         margin: 230px 8px 0 -150px;
       }

       @media screen and (max-width: 630px) {
         margin: 275px 8px 0 -150px;
       }

       @media screen and (max-width: 400px) {
         margin: 219px -61px 0 -152px;
       }
   }

   @media screen and (max-width: 376px) {
      font-size: 18px;
      line-height: 23px;
    }

}

 @media screen and (max-width: 400px) {
   .banner__list {
      padding: 0 20px;
   }     
   .page {
      order: 1;
   }
   }

.page {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   padding: 17px 0px 0px 30px;
   margin-right: 43px;

   @media screen and (max-width: 800px) {
      margin-right: 11px;
    }

   @media screen and (max-width: 376px) {
      margin: 0;
      align-items: flex-end;
      padding: 0;
    }
   
   &__link,
   &__link_checked {
      font-size: 5px;
      display: block;
      border: none;
      cursor: pointer;
      margin-bottom: 11px;
      width: 31px;
      height: 3px;
   }
   &__link {
      background-color: #D6CAC2;
   }
   &__link:hover {
      background: #725F5B;
      transition: .4s;
   }
   &__link_checked {
      background: #725F5B;
   }
   &__list {
      @include font(200,60px,73px);
      font-family: 'Montserrat';
      color: rgba(30, 6, 6, 0.05);
      margin: 0 auto 11px 0;
   }
}


/*ARROW*/

.arrow{
   display: flex;
   margin-bottom: 73px;
   align-items: center;

   @media screen and (max-width: 580px) {
      padding: 0 20px;
    }

   &__wrapper_left,
   &__wrapper_right {
      width: 37px;
      height: 37px;
      cursor: pointer;
      background-repeat: no-repeat;
      margin-right: 6px;
      border: 0;
      background-position: center;
   }
   &__wrapper_left {
      background-image: url('../img/VectorL.svg'); background-color: rgba(112, 187, 220, 0.2);
   }
   &__wrapper_right {
      background-image: url('../img/VectorR.svg'); background-color: rgba(112, 187, 220, 0.2);
   }
   &__text {
      width: 90%;
      max-width: 580px;
      margin-left: 15px;
      @media screen and (max-width: 768px) {
         font-size: 14px;
         line-height: 19px;
       }
   }
}

/*DELIVERY*/

.delivery {
   display: flex;
   align-items: flex-start;
   margin-bottom: 91px;
   justify-content: space-between;

   @media screen and (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 580px) {
      padding: 0 20px;
    }

   &__title {
      @include font(700,38px,46px);
      font-family: 'Montserrat';
      text-transform: uppercase;
      margin: 43px auto 17px 0;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 930px) {
         margin: 30px auto 17px 0;
       }

      @media screen and (max-width: 768px) {
         font-size: 36px;
         line-height: 44px;
       }
       @media screen and (max-width: 376px) {
         font-size: 24px;
         line-height: 29px;
         margin: 43px auto 28px 0;
       }
   }
   &__title::after {
      @extend %psevdo;
      width: 326px;
      height: 55px;
      left: -60px;
      top: 55px;
      background: #70BBDC33;
      @media screen and (max-width: 927px) {
         max-width: 267px;
         max-height: 45px;
         left: -20px;
       }
   }
}

.delivery__img {
   text-align: left;
   margin-right: 120px;
   max-width: 480px;
   @media screen and (max-width: 800px) {
      width: 258px;
      margin-right: 56px;
    }
    @media screen and (max-width: 650px) {
      width: 100%;
      margin: 0;
    }
}

.delivery__wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   max-width: 480px;
   margin-right: 100px;

   @media screen and (max-width: 930px) {
      margin-right: 0;
    }

   &__choice_checked {
      @include font(700,26px,34px);
      font-family: 'Crimson Text';
      font-style: italic;
      color: #1E0606;
      margin: 0;
      letter-spacing: 0.9px;
   }
   &__choice {
      @include font(400,26px,34px);
      font-family: 'Crimson Text';
      font-style: italic;
      & p {
         margin: 0;
         @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 31px;
          }
      }
      & li {
         margin: 0 0 20px 0;
         cursor: pointer;

         @media screen and (max-width: 930px) {
            margin: 0 0 15px 0;
          }
      }
   }
}

.delivery__text p {
   margin: 11px 10px 15px 0px;

   

   @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 19px;
      margin: 15px 0;
    }

    @media screen and (max-width: 930px) {
      margin: 0 0 15px 0;
    }
}

.delivery__text button {
   margin-top: 11px;
}

/*brands*/

.brands {
   margin-bottom: 112px;
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      @media screen and (max-width: 650px) {
         flex-wrap: wrap;
         padding: 0 20px;
      }

      & li {
         @media screen and (max-width: 700px) {
            margin: 0 0 30px;
          }
         }

      & img {
         max-width: 100%;
      }
   }
}


/*ABOUT*/

.about {
   display: flex;
   align-items: flex-start;
   margin-bottom: 155px;

   @media screen and (max-width: 470px) {
     flex-direction: column;
     padding: 0;
    }

   &__title {
   @include font(700,38px,46px);
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   margin: -23px 0 22px;
   @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 37px;
    }
    @media screen and (max-width: 375px) {
      font-size: 24px;
      line-height: 29px;
    }
   }
   &__list {
      background: #E1F0F7;
      width: 543px;
      padding: 0 30px 30px;

      @media screen and (max-width: 470px) {
         width: 100%;
       }

      & a {
         margin-top: 4px;
      }
   }
   &__item {
      @include font(400,26px,34px);
      font-family: 'Crimson Text';
      font-style: italic;
      margin: -12px 0px -5px 0;
   }
}

.about__list:first-child {
   margin-right: 57px;

   @media screen and (max-width: 470px) {
      margin-bottom: 50px;
    }

}

.map {
   margin-bottom: -155px;
   margin-top: 16px;
   border: none;
   width: 483px;
   width: 100%;
}


/*POPUP*/

.popup {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
   display: none;
   align-items: center;
   justify-content: center;
   background: rgba(125, 151, 218, 0.8);
}

.popup__open {
   display: flex;

   @media screen and (max-width: 730px) {
      padding: 20px;
    }
}

.popup__close {
   border: none;
   background: transparent;
   position: absolute;
   right: -30px;
   top: 0;
   color: #FFFFFF;
   transform: rotate(90deg);
   cursor: pointer;

   @media screen and (max-width: 801px) {
      right: -5px;
      top: -26px;
    }
}

.popup__close:hover {
   opacity: .7;
}

.popup__close:active {
   opacity: .4;
}

.contact__form__popup {
   width: 680px;
   background: $primary;
   padding: 42px 40px;
   position: relative;

   @media screen and (max-width: 1170px) {
      max-width: 648px;
      padding: 42px 56px;
    }

    @media screen and (max-width: 720px) {
      max-width: 335px;
      padding: 25px;
    }
}

.contact__form__popup label {
   @include font(400,14px,16px);
   font-family: 'Roboto';
   margin-bottom: 6px;
}

/*TITLE*/

.main__title {
   @include font(700,40px,49px);
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   margin-bottom: 15px;
   letter-spacing: 1px;
   @media screen and (max-width: 768px) {
      font-size: 36px;
      line-height: 44px;
    }
    @media screen and (max-width: 581px) {
      font-size: 24px;
      line-height: 29px;
      padding: 0 20px;
      margin-bottom: 10px;
    }
}


/*CONTACT*/

.contact {
   display: flex;
   justify-content: space-between;
   
   &__form {
      width: 680px;
      background: $primary;
      padding: 42px 40px;
      margin-bottom: 60px;
      position: relative;

      @media screen and (max-width: 1170px) {
         max-width: 648px;
         padding: 42px 56px;
       }

       @media screen and (max-width: 720px) {
         max-width: 335px;
         padding: 47px 25px;
       }

    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
}

.support {
   max-width: 380px;

   @media screen and (max-width: 1170px) {
      max-width: 100%;
    }

    @media screen and (max-width: 580px) {
      padding: 0 20px;
    }

   @media screen and (max-width: 500px) {
      font-size: 14px;
      line-height: 19px;
    }
    
   & p {
      margin-top: 0;
   }
   &__help {
      @include font(600,26px,34px);
      font-family: 'Montserrat';
      text-transform: uppercase;
      color: #C29974;

      @media screen and (max-width: 500px) {
         font-size: 24px;
         line-height: 34px;
       }
   }
}

@media screen and (max-width: 1170px) {
   .contact {
      flex-direction: column;
      align-items: center;
   }     
   .support {
      order: 1;
      text-align: center;
   }
   .contact__form {
      order: 2;
   }
   }

 .contact__2__column .contact__wrapper {
   width: 290px;

   @media screen and (max-width: 1170px) {
      width: 258px;
    }

    @media screen and (max-width: 730px) {
      width: 100%;
    }
 }
 
 .contact__2__column {
   display: flex;
   justify-content: space-between;

   @media screen and (max-width: 720px) {
     flex-direction: column;
    }
 }

 
.contact label {
   font-family: 'Roboto';
   font-size: 14px;
   line-height: 19px;
   margin: 0;
}
 
 /* CLICKING */

 .clicking {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }
 
 .clicking .button {
   margin-top: 20px;
 }
 

/*TOYS*/

.toys {

   &__banner {
      @include font;
      background: $primary;
      color: #AAAAAA;
      margin: 0 auto;
      margin-bottom: 61px;
   }
   &__form {
      display: flex;
      align-items: flex-start;

      @media screen and (max-width: 1170px) {
        flex-wrap: wrap;
        justify-content: space-between;
       }

       @media screen and (max-width: 581px) {
         padding: 0 20px;
        }
   }
}

.toys__form__box_color,
.toys__form__box_delivery,
.toys__form__box_amount,
.toys__form__box_range {
   margin: 42px 0 27px 2px;
}

.toys__form__box_color li {
   margin-bottom: 15px;
}

.toys__form__box_delivery li {
   margin-bottom: 12px;
}

.toys__form__box_range {
   margin-right: 104px;
}

.toys__form__box_color {
   margin-right: 118px;

   @media screen and (max-width: 751px) {
      margin-right: 0;
     }
     @media screen and (max-width: 415px) {
      margin-top: 0;
     }
}

.toys__form__box_delivery {
   margin-right: 67px;

   @media screen and (max-width: 1050px) {
      margin-right: 0;
     }

     @media screen and (max-width: 633px) {
      margin-top: 0;
     }
}

.toys__form__box_amount {
   margin-right: 61px;

   @media screen and (max-width: 1170px) {
      margin-top: 0;
      margin-bottom: 25px;
     }
}

legend,
.toys__form__box_range {
   @include font(700);
   color: #1E0606;
   margin-bottom: 15px;
}

.toys__form__box_amount ul {
   display: flex;
}

.products {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 33px;
   & p {
      @include font(700);
      text-align: center;
      color: #1E0606;

      @media screen and (max-width: 1000px) {
         font-size: 14px;
         line-height: 19px;
        }

        @media screen and (max-width: 500px) {
         font-size: 12px;
         line-height: 16px;
        }
   }
   & h2 {
      @include font(400,14px,19px);
      text-align: center;
      color: #1E0606;
      margin-top: 29px;

      @media screen and (max-width: 1000px) {
         font-size: 12px;
         line-height: 16px;
        }
   }
}

.toys__form button {
   margin-top: 79px;

   @media screen and (max-width: 1170px) {
      margin-top: 33px;
      margin-bottom: 25px;
     }

     @media screen and (max-width: 450px) {
      margin-top: 0;
      margin-left: 40%;
     }
}

/*RANGE*/

.toys__form__box_range {
   display: flex;
   flex-direction: column;
   margin-bottom: 16px;
   width: 188px;
}

.toys__form__box_range ul {
   display: flex;
   justify-content: space-between;
   margin-top: -6px;
   margin-right: -15px;
}

.toys__form__box_range input {
   padding: 0;
}

input[type=range] {
   height: 4px;
   -webkit-appearance: none;
   margin: 10px 0;
   border: none;
   width: 100%;
}

input[type=range]:focus {
   outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 4px;
   cursor: pointer;
   box-shadow: 0px 0px 0px #FFFFFF;
   background: #808080;
   border-radius: 0px;
   border: 0px solid #C29974;;
}

input[type=range]::-webkit-slider-thumb {
   box-shadow: 0px 0px 0px #FFFFFF;
   border: 9px solid #C29974;;
   height: 24px;
   width: 24px;
   border-radius: 28px;
   background: #FFFFFF;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -10px;
}

/*popup window*/

.toys__item {
   max-width: 380px;
   justify-content: space-between;
   margin-bottom: 29px;
   position: relative;

   @media screen and (max-width: 1050px) {
      width: 203px;
     }
   
   @media screen and (max-width: 410px) {
      width: 160px;
     }
}

.toys__item::after {
   content: attr(data-tooltip);
   @include font(700,26px,29px);
   position: absolute;
   width: 207px;
   height: 207px;
   left: 24%;
   top: 17%;
   border: none;
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   pointer-events: none;
   opacity: 0;
   background-position: center;
   display: flex;
   align-items: center;
   transition: 1s;
   text-align: center;
   justify-content: center;

   @media screen and (max-width: 1050px) {
      width: 100px;
      height: 100px;
      @include font(700,20px,23px);
     }
   
   @media screen and (max-width: 410px) {
      width: 75px;
      height: 75px;
      @include font(700,15px,18px);
     }
}

.toys__item:hover::after {
   opacity: 1; 
   background:rgba(229, 234, 248, 0.9);
}

.toys__item:active::after {
   background:rgba(229, 234, 248, 0.670);
}


/*CATALOG*/

.catalog__product__title {
   @include font(700,38px,46px);
   font-family: 'Montserrat';
   text-transform: uppercase;
   color: #1E0606;
   margin-bottom: 24px;

   @media screen and (max-width: 800px) {
      font-size: 36px;
      line-height: 44px;
    }

    @media screen and (max-width: 600px) {
      font-size: 24px;
      line-height: 29px;
      padding: 0 20px;
    }
}

.catalog__product {
   max-width: 100%;
   margin: 0px -10px 55px 199px;

   @media screen and (max-width: 1020px) {
      margin: 0;
    }


   & p {
      margin-bottom: 15px;
      margin-top: 0;

      @media screen and (max-width: 600px) {
         padding: 0 20px;
       }
   }
}


/*BLOG*/

.blog {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 16px;
   justify-content: space-between;

   @media screen and (max-width: 581px) {
      padding: 0 20px;
    }

   & li {
      max-width: 380px;
      margin-bottom: 13px;

      @media screen and (max-width: 900px) {
         max-width: 314px;
       }

       @media screen and (max-width: 750px) {
         max-width: 335px;
       }
   }
   &__item {
      @include font(700,24px,31px);
      font-family: 'Montserrat';
      color: #1E0606;
      margin: 0;
   }
   &__data {
      @include font;
      color: #818181;
      margin-top: 20px;
      margin-bottom: 5px;
   }
   &__text {
      @include font(400,18px,25px);
      margin-bottom: 20px;
      color: #1E0606;
   }
}

.blog a:hover .blog__item {
   text-decoration-line: underline;
}

/*ANIMATION*/


@keyframes anim__taxi {
   0% {
      margin-left: 200%;
      }
   25% {
      margin-left: 150%;
      }
   50% {
      margin-left: 90%;
      }
   75% {
      margin-left: 90%;
      }
   100% {
      margin-left: 0%;
      }
   }

@keyframes anim__cars {
   0% {
      margin-left: 0%;
   }
   100% {
      margin-left: 130%;
   }
   }

@keyframes anim__clouds {
   0% {
      margin-left: 130%;
   }
   100% {
      margin-left: 0%;
   }
}

@keyframes anim__message {

   0% {
      opacity: 1;
   }
   25% {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   75% {
      opacity: 0;
   }
   100% {
      opacity: 0;
   }
}

@keyframes anim__handwoman {
   
   0% {
      transform: rotate(0);
   }
   50% {
      transform: rotate(-36deg);
   }
   100% {
      transform: rotate(0);
   }
}

@keyframes anim__handman {
   
   0% {
      transform: rotate(146deg); 
   }
   50% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(146deg);
   }
}

@keyframes anim__fly {
   
   0% {
      margin-left: 0%;
      top: 50px;
   }
   100% {
      margin-left: 130%;
      top: -200px;
   }
}

.adaptation {
   max-width: 1400px;

   @media screen and (max-width: 1280px) {
        width: 769px;
       }
}

.anim {
   height: 1000px;
   max-width: 1400px;
   overflow: hidden;
   position: relative;
   margin: 0 auto;
   margin-bottom: -140px;

   @media screen and (max-width: 1280px) {
   //   width: 769px;
    }
}

.box_9 {
   animation: anim__taxi 5s linear forwards;
}

.box_3, .box_4, .box_5, .box_6 {
   animation: anim__cars 12s linear infinite;
}

.box_1-1, .box_1-2, .box_1-3, .box_1-4, .box_1-5, .box_1-6 {
   animation: anim__clouds 12s linear infinite;
}

.box_16 {
   animation: anim__handwoman 2s ease forwards;
}

.box_12, .box_14, .box_10, .box_18 {
   opacity: 0;
   animation-duration: 10s;
   animation-name: anim__message;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

.box_17 {
   animation: anim__handman 2s ease forwards;
}

.box_20 {
   animation: anim__fly 7s ease forwards;
}

.anim__cars {
   position: relative;
   height: 125px;
   width: 100%;
   margin-left: -300px;
   top: 300px;
}

.anim__clouds {
   position: relative;
   height: 135px;
   width: 100%;
   margin-left: -300px;
}

.anim__taxi {
   position: relative;
   height: 98px;
   width: 100%;
   margin-left: -900px;
   bottom: -346px;
}

.anim__fly {
   position: relative;
}

.box_1-1 {
   @extend %psevdo;
   width: 91px;
   height: 26px;
   background-image: url('../img/animation/CloudsOne.png');
   top: 0;
   animation-delay: 0
}

.box_1-2 {
   @extend %psevdo;
   width: 186px;
   height: 38px;
   background-image: url('../img/animation/CloudsTwo.png');
   top: 40px;
   animation-delay: 2s
}

.box_1-3 {
   @extend %psevdo;
   width: 155px;
   height: 32px;
   background-image: url('../img/animation/CloudsThree.png');
   top: 0;
   animation-delay: 4s
}

.box_1-4 {
   @extend %psevdo;
   width: 201px;
   height: 41px;
   background-image: url('../img/animation/CloudsFour.png');
   top: 80px;
   animation-delay: 6s
}

.box_1-5 {
   @extend %psevdo;
   width: 91px;
   height: 26px;
   background-image: url('../img/animation/CloudFive.png');
   top: 40px;
   animation-delay: 8s
}

.box_1-6 {
   @extend %psevdo;
   width: 164px;
   height: 34px;
   background-image: url('../img/animation/CloudsSix.png');
   top: 60px;
   animation-delay: 10s
}

.box_1-7 {
   @extend %psevdo;
   width: 59px;
   height: 59px;
   right: 300px;
   top: 0;
   background-color: yellow;
   border-radius: 37px;
}

.box_2 {
   @extend %psevdo;
   width: 1585px;
   height: 630px;
   background-image: url('../img/animation/haus.jpg');
   left: -150px;
   top: 150px;
}

.box_3 {
   @extend %psevdo;
   width: 268px;
   height: 125px;
   background-image: url('../img/animation/Car\ four.png');
   top: -22px;
   animation-delay: 0
}

.box_4 {
   @extend %psevdo;
   width: 246px;
   height: 65px;
   background-image: url('../img/animation/Car\ three.png');
   top: 45px;
   animation-delay: 3s
}

.box_5 {
   @extend %psevdo;
   width: 203px;
   height: 95px;
   background-image: url('../img/animation/Car\ two.png');
   top: 0;
   animation-delay: 6s
}

.box_6 {
   @extend %psevdo;
   width: 250px;
   height: 99px;
   background-image: url('../img/animation/Car\ one.png');
   top: 0;
   animation-delay: 9s
}

.box_7 {
   @extend %psevdo;
   width: 150px;
   height: 395px;
   background-image: url('../img/animation/LanternsNO.png');
   left: 315px;
   top: 196px;
}

.box_8 {
   @extend %psevdo;
   width: 150px;
   height: 395px;
   background-image: url('../img/animation/LanternsNO.png');
   right: 195px;
   top: 196px;
}

.box_9 {
   @extend %psevdo;
   width: 886px;
   height: 265px;
   background-image: url('../img/animation/Taxi.png');
   bottom: 0;
   animation-delay: 5s
}

.box_10 {
   @extend %psevdo;
   width: 160px;
   height: 99px;
   background-image: url('../img/animation/TaxiMessage.png');
   right: 580px;
   top: 355px;
   animation-delay: 8s
   
}

.box_11 {
   @extend %psevdo;
   width: 98px;
   height: 267px;
   background-image: url('../img/animation/WomanBody.png');
   left: 82px;
   bottom: 223px;
}

.box_12 {
   @extend %psevdo;
   width: 160px;
   height: 99px;
   background-image: url('../img/animation/WomanMessage.png');
   left: -1px;
   bottom: 504px;
   animation-delay: 2s
}

.box_13 {
   @extend %psevdo;
   width: 205px;
   height: 352px;
   background-image: url('../img/animation/ManBody.png');
   left: 196px;
   bottom: 222px;
}

.box_14 {
   @extend %psevdo;
   width: 160px;
   height: 77px;
   background-image: url('../img/animation/ManMessage.png');
   left: 180px;
   bottom: 580px;
   animation-delay: 4s;
}

.box_15 {
   @extend %psevdo;
   width: 191px;
   height: 95px;
   background-image: url('../img/animation/WomanSuitcases.png');
   left: 75px;
   bottom: 222px;
}

.box_16 {
   @extend %psevdo;
   width: 62px;
   height: 43px;
   background-image: url('../img/animation/WomanHand.png');
   left: 112px;
   top: 607px;
   margin: 0;
   transform-origin: 0 0;
   margin: 0;
   animation-delay: 2s
}

.anim__handman {
   position: relative;
}

.box_17 {
   @extend %psevdo;
   width: 88px;
   height: 128px;
   background-image: url('../img/animation/ManHand.png');
   left: 225px;
   top: 35px;
   transform-origin: 0 100px;
   transform: rotate(146deg);
   margin: 0;
   animation-delay: 4s
}

.box_18 {
   @extend %psevdo;
   width: 160px;
   height: 77px;
   background-image: url('../img/animation/ManMessageTwo.png');
   left: 180px;
   bottom: 580px;
   display: flex;
   justify-content: center;
   padding: 17px;
   animation-delay: 10s;
   border: #1E0606
}

.box_19 {
   @extend %psevdo;
   width: 215px;
   height: 562px;
   background-image: url('../img/animation/LanternYes.png');
   right: 280px;
   bottom: 235px;
}

.box_20 {
   @extend %psevdo;
   width: 150px;
   height: 97px;
   background-image: url('../img/animation/Fly2.jpg');
   left: -150px;
   top: 0;
   animation-delay: 7s;
}

/*SVG*/

.page__svg {
   @media screen and (max-width: 900px) {
      display: flex;
      justify-content: center;
    }

    @media screen and (max-width: 450px) {
      padding: 0 20px;
    }
}

@keyframes sun {
   0% {
      transform: translateY(0)
    
   }
   50% {
      transform: translateY(-130px)
     
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes mountain-one {
   0% {
      fill: #000;
     
   }
   50% {
      fill: #5D9CEC;
   }
   100% {
      fill: #000;
   }
}

@keyframes mountain-two {
   0% {
      fill: #5D9CEC;
   }
   50% {
      fill: #000;
   }
   100% {
      fill: #5D9CEC;
   }
}

@keyframes line-one {
   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(269px)
   }
   50% {
      transform: translateY(269px)
   }
   75% {
      transform: translateY(269px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-two {
   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(107px)
   }
   50% {
      transform: translateY(107px)
   }
   75% {
      transform: translateY(107px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-three {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(188px)
   }
   50% {
      transform: translateY(188px)
   }
   75% {
      transform: translateY(188px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-four {

   0% {
      transform: translateX(0)
   }
   25% {
      transform: translateX(150px)
   }
   50% {
      transform: translateX(0)
   }
   75% {
      transform: translateX(150px)
   }
   100% {
      transform: translateX(0)
   }
}

@keyframes line-five {

   0% {
      transform: translateX(0)
   }
   25% {
      transform: translateX(80px)
   }
   50% {
      transform: translateX(80px)
   }
   75% {
      transform: translateX(80px)
   }
   100% {
      transform: translateX(0)
   }
}

@keyframes line-six {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(110px)
   }
   50% {
      transform: translateY(110px)
   }
   75% {
      transform: translateY(110px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-seven {

   0% {
      transform: translateX(0)
   }
   25% {
      transform: translateX(-150px)
   }
   50% {
      transform: translateX(-150px)
   }
   75% {
      transform: translateX(-150px)
   }
   100% {
      transform: translateX(0)
   }
}

@keyframes line-eight {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(108px)
   }
   50% {
      transform: translateY(108px)
   }
   75% {
      transform: translateY(108px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-nine {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(-132px)
   }
   50% {
      transform: translateY(-132px)
   }
   75% {
      transform: translateY(-132px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-ten {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(-81px)
   }
   50% {
      transform: translateY(-81px)
   }
   75% {
      transform: translateY(-81px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-eleven {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(-134px)
   }
   50% {
      transform: translateY(-134px)
   }
   75% {
      transform: translateY(-134px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-twelve {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(-240px)
   }
   50% {
      transform: translateY(-240px)
   }
   75% {
      transform: translateY(-240px)
   }
   100% {
      transform: translateY(0)
   }
}

@keyframes line-thirteen {

   0% {
      transform: translateY(0)
   }
   25% {
      transform: translateY(-215px)
   }
   50% {
      transform: translateY(-215px)
   }
   75% {
      transform: translateY(-215px)
   }
   100% {
      transform: translateY(0)
   }
}

.picture {
   margin-bottom: 60px;
   cursor: pointer;
}

.sun {
   animation: sun 6s linear infinite;
}

.mountain-one {
   animation: mountain-one 6s linear infinite;
}

.mountain-two {
   animation: mountain-two 6s linear infinite;
}

.line-one {
   animation: line-one 8s linear infinite;
}

.line-two {
   animation: line-two 8s linear infinite;
}

.line-three {
   animation: line-three 8s linear infinite;
}

.line-four {
   animation: line-four 8s linear infinite;
}

.line-five {
   animation: line-five 8s linear infinite;
}

.line-six {
   animation: line-six 8s linear infinite;
}

.line-seven {
   animation: line-seven 8s linear infinite;
}

.line-nine {
   animation: line-nine 8s linear infinite;
}

.line-eight {
   animation: line-eight 8s linear infinite;
}

.line-ten {
   animation: line-ten 8s linear infinite;
}

.line-eleven {
   animation: line-eleven 8s linear infinite;
}

.line-twelve {
   animation: line-twelve 8s linear infinite;
}

.line-thirteen {
   animation: line-thirteen 8s linear infinite;
}

// 

/*GRID*/

.grid__container {
   max-width: 1400px;
   margin: 0 auto;
}

.grid {
   display: grid;
   grid-template-columns: repeat(4, 350px);
   grid-template-rows: repeat(7, 215px);

   @media screen and (max-width: 1170px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(19, 115px);
    }

    @media screen and (max-width: 630px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(32, 115px);
    }

   &__box {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 630px) {
         display: block;
       }

      &__list_1 {
         display: flex;
         flex-direction: column;
         justify-content: center;
         max-width: 220px;
         margin-left: 80px;
         padding: 0 auto;

         @media screen and (max-width: 630px) {
            max-width: 85%;
            margin: 30px 20px 40px;
          }

         & button {
            border: none;
            font-family: 'Lato';
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #BCBCBE;
            background: transparent;
            text-align: start;
            padding: 0;
            cursor: pointer;
         }
      }

      &__list_10 {

         @media screen and (max-width: 630px) {
            display: flex;
            justify-content: center;
          }

         & img {
            margin-right: 80px;
         }
      }
   }

   &__box-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__list_2 {
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         margin: 0 auto;

         @media screen and (max-width: 630px) {
            align-items: flex-start;
            padding: 0 20px;
          }

         & button {
            border: none;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-decoration-line: underline;
            color: #2198F4;
            background: transparent;
            text-align: start;
            margin-top: 10px;
            padding: 0;
            cursor: pointer;
         }
      }

      &__list_3 {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         & button {
            border: none;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #FFC80A;
            background: transparent;
            text-align: start;
            padding: 0;
            margin-top: 20px;
            cursor: pointer;
         }
      }

      &__list_6 {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         & button {
            border: none;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #2C3036;
            background: transparent;
            text-align: start;
            margin-top: 30px;
            background: #FFC80C;
            border-radius: 27px;
            padding: 19px 41px;
            cursor: pointer;
         }
      }

      &__list_8 {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         & button {
            border: none;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #2198F4;
            margin-top: 20px;
            padding: 0;
            cursor: pointer;
            background: transparent;
         }
      }

      &__list_9 {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         & button {
            border: none;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: #2C3036;
            margin-top: 15px;
            padding: 0;
            cursor: pointer;
            background: transparent;
         }
      }
   }

   &__box-3 {
      display: flex;

      @media screen and (max-width: 630px) {
         flex-direction: column;
       }

      &__list_4 {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;

         & .link__1,
         .link__5 {
            margin-left: 90px;

            @media screen and (max-width: 630px) {
               margin: 5px 20px;
             }
         }

         & img {
            margin-top: 53px;
         }
      }

      &__list_5 {
         display: flex;
         flex-direction: column;
         width: 230px;
         margin-right: 95px;  
         margin-top: 108px; 

         @media screen and (max-width: 630px) {
           margin: 40px 20px;
          }

         & button {
            border: none;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            color: #2198F4;
            background: transparent;
            text-align: start;
            margin-top: 20px;
            padding: 0;
            cursor: pointer;
         }
      }

      &__list_7  {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         align-items: center;
         position: relative;

         & img {
            margin-top: 31px;
         }
      }
   }

   &__color {

      &_1 {
         grid-column: 1/3;
         grid-row: 1/3;

         & img {
           margin: 85px 80px 0 71px;
           width: 249px;

           @media screen and (max-width: 1170px) {
            margin: 85px 114px 0 71px;
          }

          @media screen and (max-width: 1170px) {
            margin: -37px 114px 0 71px;
          }
         }

         @media screen and (max-width: 1170px) {
            grid-column: 1/5;
            grid-row: 3/6;
          }
         @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 4/8;
          }
      }

      &_2 {
         background: #F7F8FA;
         grid-column: 3/5;
         grid-row: 1/3;
         @media screen and (max-width: 1170px) {
            grid-column: 1/5;
            grid-row: 1/3;
          }

         @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 1/4;
          }
      }

      &_3 {
         background: #EF5539;
         grid-column: 1/2;
         grid-row: 3/5;

         @media screen and (max-width: 1170px) {
            grid-column: 1/3;
            grid-row: 6/9;
          }

         @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 8/11;
          }
      }

      &_4 {
         background: #FFFFFF;
         grid-column: 2/4;
         grid-row: 3/5;
         @media screen and (max-width: 1170px) {
            grid-column: 1/5;
            grid-row: 9/12;
          }

          @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 14/19;
          }
      }
      &_5 {
         background: #8F75BC;
         grid-column: 4/5;
         grid-row: 3/7;
         @media screen and (max-width: 1170px) {
            grid-column: 3/5;
            grid-row: 12/18;
         }

         @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 24/30;
          }
      }
      &_6 {
         background: #93B7B7;
         grid-column: 1/3;
         grid-row: 5/7;
         @media screen and (max-width: 1170px) {
            grid-column: 1/3;
            grid-row: 12/15;
         }

         @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 19/22;
         }
      }
      &_7 {
         background: #F7F8FA;
         grid-column: 3/4;
         grid-row: 5/7;

         @media screen and (max-width: 1170px) {
            grid-column: 3/5;
            grid-row: 6/9;
          }

         @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 11/14;
          }
      }
      &_8 {
         background: #F7F8FA;
         grid-column: 1/2;
         grid-row: 7/7;
         @media screen and (max-width: 1170px) {
            grid-column: 1/3;
            grid-row: 15/18;
          }

          @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 22/24;
          }
      }
      &_9 {
         background: #2C2C2C;
         grid-column: 2/5;
         grid-row: 7/7;
         @media screen and (max-width: 1170px) {
            grid-column: 1/5;
            grid-row: 18/20;
          }

          @media screen and (max-width: 630px) {
            grid-column: 1/5;
            grid-row: 30/33;
          }
      }
   }
}

.link__1 {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   color: #BCBCBE;
   margin-bottom: 10px;
}

.link__2 {
   font-family: 'Lato';
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   color: #2C3036;
   margin-bottom: 20px;
}

.link__3 {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 48px;
   line-height: 58px;
   text-align: center;
   color: #2C3036;
   margin-top: 10px;
   width: 70%;

   @media screen and (max-width: 1170px) {
      font-size: 35px;
      line-height: 42px;
      width: 69%;
    }

    @media screen and (max-width: 630px) {
      text-align: start;
      width: 90%;
    }
}

.link__4 {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   margin-top: 10px;
   width: 80%;
}

.link__5 {
   font-family: 'Lato';
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   color: #2C3036;
   width: 45%;
}

.link__6 {
   font-family: 'Lato';
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: #BCBCBE;
   width: 230px;
}

.link__7 {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   text-align: center;
   color: #FFFFFF;
   margin-top: 10px;
}

.link__8 {
   font-family: 'Lato';
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #FFFFFF;
   width: 62%;
   margin-top: 10px;
}

.link__9 {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 8px;
   line-height: 10px;
   text-align: center;
   color: #FFFFFF;
   background: #FA684F;
   border-radius: 3px;
   padding: 3px;
   position: absolute;
   top: 18px;
   left: 20px;
}

.link__10 {
   font-family: 'Lato';
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   width: 200px;
   margin-top: 43px;
   display: flex;

   @media screen and (max-width: 630px) {
      margin-top: 115px;
    }
}

.link__11 {
   font-family: 'Lato';
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   color: #2C3036;
   margin-top: 10px;
}

.link__12 {
   display: flex;
   font-family: 'Lato';
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   color: #FFFFFF;
   max-width: 189px;

   @media screen and (max-width: 630px) {
      text-align: center;
    }
}










