<header class="header container">
    <a href="index.html">
        <picture>
            <source srcset="img/DLK-mobile.jpg, img/DLK-mobile2x.jpg" media="(max-width: 380px">
            <source srcset="img/DLK-tablet.jpg, img/DLK-tablet2x.jpg" media="(max-width: 1170px">
            <source srcset="img/DLK.jpg, img/DLK2x.jpg 2x">
            <img src="./img/DLK.jpg" class="logo" alt="">
        </picture>
    </a>
    <nav class="header__menu">
        <ul class="undotted header__list">
            <li>
               <a href="./blog.html">Blog</a>
            </li>
            <li>
                <a href="./catalog.html">Catalog</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="./animation.html">Animation</a>
            </li>
            <li>
                <a href="./svg.html">SVG</a>
            </li>
            <li>
                <a href="./grid.html">GRID</a>
            </li>
        </ul>
    </nav>
    <div class="humburger">MENU</div>
    <button aria-label="search" class="header__search">
        <picture>
            <source srcset="img/search-mobile.jpg, img/search-mobile2x.jpg" media="(max-width: 380px">
            <source srcset="img/search-tablet.jpg, img/search-tablet2x.jpg" media="(max-width: 1170px">
            <source srcset="img/search.jpg, img/search2x.jpg 2x">
            <img src="./img/search.jpg" alt="">
        </picture>
    </button>       
    <a href="./contact.html" class="header__contact">Contact  Us</a>
</header>

<div class="mobile-header">
    <div class="mobile-header__wrapper">
        <div class="mobile-header__wrapper-1">
            <a href="index.html">
                <picture>
                    <source srcset="img/DLK-mobile.jpg, img/DLK-mobile2x.jpg" media="(max-width: 380px">
                    <source srcset="img/DLK-tablet.jpg, img/DLK-tablet2x.jpg" media="(max-width: 1170px">
                    <source srcset="img/DLK.jpg, img/DLK2x.jpg 2x">
                    <img src="./img/DLK.jpg" class="logo" alt="">
                </picture>
            </a>
            <div class="mobile-header__close">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606"/>
                    </svg>    
            </div>  
            <button aria-label="search" class="mobile-header__search">
                <picture>
                    <source srcset="img/search-mobile.jpg, img/search-mobile2x.jpg" media="(max-width: 380px">
                    <source srcset="img/search-tablet.jpg, img/search-tablet2x.jpg" media="(max-width: 1170px">
                    <source srcset="img/search.jpg, img/search2x.jpg 2x">
                    <img src="./img/search.jpg" alt="">
                </picture>
            </button>
        </div>
        <nav class="mobile-header__menu">
            <ul class="undotted mobile-header__list">
                <li>
                   <a href="./blog.html" class="mobile-header__link">Blog</a>
                </li>
                <li>
                    <a href="./catalog.html" class="mobile-header__link">Catalog</a>
                </li>
                <li>
                    <a href="#" class="mobile-header__link">About Us</a>
                </li>
                <li>
                    <a href="./animation.html" class="mobile-header__link">Animation</a>
                </li>
                <li>
                    <a href="./svg.html" class="mobile-header__link">SVG</a>
                </li>
                <li>
                    <a href="./grid.html" class="mobile-header__link">GRID</a>
                </li>
            </ul>
        </nav>
        <a href="./contact.html" class="mobile-header__contact">Contact  Us</a>
    </div>
</div>