<header class="header container">
    <a href="index.html">
        <img src="./img/DLK.jpg" alt="" width="100" height="52">
    </a>
    <nav class="header-menu">
        <ul class="undotted header-list">
            <li>
               <a href="./blog.html">Blog</a>
            </li>
            <li>
                <a href="./catalog.html">Catalog</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
        </ul>
    </nav>
    <button aria-label="search" class="search"><img src="./img/search.jpg" alt="" width="17" height="18"></button>       
    <a href="./contact.html" class="header-contact">Contact  Us</a>
</header>