<div class="page__switching">
    <!-- <a href="#" class="page__switching__left"></a> -->
    <svg class="arrow_pagination" width="13" height="26" viewBox="0 0 16 26">
        <polyline points="15 0, 2 13, 15 26" fill="#fff" stroke="rgba(30, 6, 6, 0.12)" stroke-width="4" />
    </svg>
    <div class="pagination">
        <a class="pagination__active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
    </div>
    <svg class="arrow_pagination" width="13" height="26" viewBox="0 0 16 26">
        <polyline points="0 0, 13 13, 0 26" fill="#fff" stroke="rgba(30, 6, 6, 0.12)" stroke-width="4" />
    </svg>
    <!-- <a href="#" class="page__switching__right"></a> -->
</div>